
Ej6(sample_synthesis)/Sample_based_synthesis/.vs/Sample_based_synthesis/v15/.suo
Ej6(sample_synthesis)/Sample_based_synthesis/Sample_based_synthesis.pyproj
Ej6(sample_synthesis)/Sample_based_synthesis/Samples/Guitar/C3_very-long_forte_normal.wav
